name = "future-diary-api"
main = "src/index.ts"
compatibility_date = "2026-02-07"
workers_dev = true

[[d1_databases]]
binding = "DB"
database_name = "future-diary"
database_id = "fddf415b-ab33-405d-9845-e34375371822"
migrations_dir = "../../packages/db/src/migrations"

[[vectorize]]
binding = "VECTOR_INDEX"
index_name = "future-diary-index"
